.u-margin-top-smallest { margin-top: 1rem !important; }
.u-margin-top-small { margin-top: 1.5rem !important; }


.u-margin-bottom-smallest { margin-bottom: 1rem !important; }
.u-margin-bottom-small { margin-bottom: 1.5rem !important; }
.u-margin-bottom-med { margin-bottom: 2rem !important; }

.u-margin-left-small { margin-left: 1.5rem !important; }
.u-margin-left-medium { margin-left: 3rem !important; }

.u-margin-right-smallest { margin-right: .5rem !important; }
.u-margin-right-small { margin-right: 1.5rem !important; }

.u-padding-center { padding: 1rem 2rem !important;}

.u-flex-row {     
    display: flex !important;
    align-items: center !important;
}