$color-primary-blue: #6A81AC;

$color-black-1: #4D4D4D;

$color-white-1: #FFFFFF;

$color-grey-1: #808080;
$color-grey-dark-1: #454545;

$color-blue-1: #4A5A78;

//Fonts
$default-font: 'Source Sans Pro', sans-serif;
$default-font-size: 1.5rem;