$color-primary-blue: #6A81AC;
$color-secondary-blue: #475a7b;

$color-black-1: #4D4D4D;
$color-black-2: #000000;

$color-white-1: #FFFFFF;
$color-white-2: #F8F8F8;

$color-grey-1: #808080;
$color-grey-2: #DEDEDE;
$color-grey-3: #C9C9C9;

$color-grey-dark-1: #454545;
$color-grey-dark-2: #676767;
$color-grey-dark-3: #686868;

$color-blue-1: #4A5A78;

//Fonts
$default-font: 'Source Sans Pro', sans-serif;
$default-font-size: 1.5rem;