.action {
    padding: 1rem 2rem;
    border: 0.1rem solid grey;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    border: .1rem solid $color-grey-2;
    border-radius: .7rem;
    box-shadow: 0 .1rem .3rem rgba($color-black-2, .1);
    position: relative;

    &__list {
        list-style-type: none;
        padding: 0;
        margin: 0;
        text-align: left;
    }

    &__item {
        display: flex;
        justify-content: flex-start;
        margin: 0.5rem 0;
        position: relative;
    }

    &__org {
        line-height: 1.3;
        width: 50%;
    }

    &__name {
        font-size: 1.8rem;
        color: $color-black-1;
    }

    &__absolute {
        position: absolute;
        right: 0;
    }

    &__date {
        color: $color-grey-1;
    }

    &__image {
        padding-right: 1rem;

        img {
            width: 4.5rem;
            border-radius: 2.5rem;
        }
    }

    &__overview {
        color: $color-black-1;
        line-height: 1.3;
    }

    &__location {
        display: flex;
        color: $color-grey-1;
    }

    &__arrow {
        width: 1rem;
        position: absolute;
        right: 5%;
        top: 50%;
    }
}