.btn {
     max-width: 14rem;
        min-width: 10rem;
        height: 3.5rem;
        color: $color-white-1;
        border-radius: 2.5rem;
        padding: .3rem 1.3rem;
        text-decoration: none;
        font-size: 1.5rem;
        display: inline-block;
        text-align: center;
        cursor: pointer;
        overflow: hidden;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

    &:link,
    &:visited {
       color: $color-white-1;
       text-decoration: none;
    }

    &__text {
        display: flex;
        justify-content: center;
    }

    &--aligned {
        @include btn-aligned-right
    }

    &--primary-blue {
        background-color: $color-primary-blue;
        border: .1rem solid $color-primary-blue;
    }

    &--secondary-blue {
        background-color: $color-secondary-blue;
        border: .1rem solid $color-secondary-blue;
    }
}