.locationHolder {
    background-color: $color-secondary-blue;

    &__container {
        height: 5.5rem;
        color: $color-white-1;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;

        @media screen and (min-width: 500px) {
            width: 40rem;
        }
    }
    
    &__change {
        color: $color-white-1;
        text-align: center;
        display: inline-block;
        // padding: 1.5rem 2rem 1.5rem 1rem;
        font-weight: 700;
        font-size: 1.5rem;
        letter-spacing: .1rem;
    }

    &__image {
        display: inline-block;
        vertical-align: middle;
        margin-left: .4rem;
    }

    &__current {
        // background-color: $color-primary-blue;
        // padding: 1.5rem 2rem 1.5rem 3rem;
    }
}