.orgList {
    display: flex;
    justify-content: center;
    flex-direction: column;

    &__card {
        position: relative;
        color: $color-grey-dark-1;
        font-size: 1.5rem;
        font-weight: 700;
        width: 90%;
        min-height: 5.5rem;
        border: .1rem solid $color-grey-2;
        border-radius: .7rem;
        padding: 1.5rem 2.5rem;
        box-shadow: 0 .1rem .3rem rgba($color-black-1, .1);
        margin: 1rem auto;
        animation: fadeIn .5s ease-in backwards;
        cursor: pointer;

        &:hover {
            transform: translateY(-1px);
            box-shadow: 0 .1rem .3rem rgba($color-black-1, .3);
        }
    }

    &__add {
        transform: translateY(-50%);
        position: absolute;
        font-size: 1.8rem;
        color: #676767;
        top: 50%;
        right: 5%;
    }
}