.priorityCard {
    text-decoration: none;
    border: .1rem solid $color-grey-2;
    border-radius: .7rem;
    box-shadow: 0 .1rem .3rem rgba($color-black-2, .1);
    margin-bottom: 2rem;
    position: relative;
    cursor: pointer;
    animation: fadeIn .5s ease-in backwards;
    
    &__banner {
        display: flex;
        justify-content: space-between;
        background-color: $color-primary-blue;
        border-radius: .5rem;
        border-bottom-left-radius: .3rem;
        border-bottom-right-radius: .3rem;
        height: 2.5rem;
        font-size: 1.3rem;
        color: $color-white-1;
        padding: .2rem 2rem;
    }

    &__overview {
        padding: .1rem 2rem 1rem 2rem;
    }

    &__image {
        position: absolute;
        top: 55%;
        right: 3%;
    }

    &__control {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 30%;
        right: 3%;

        button {
            width: 3rem;
            height: 3rem;
            border: none;
            background-color: transparent;
        }
    }
    
}