.success {
        display: flex;
        align-items: center;
        min-width: 30rem;
        min-height: 5rem;
        background-color: $color-green-1;
        position: absolute;
        color: $color-white-1;
        top: 10%;
        left: 50%;
        transform: translateX(-50%);
        width: 25rem;
        border-radius: 2.5rem;
        height: 3rem;
        text-align: center;
        border: .2rem solid $color-green-2;
        opacity: 0;
        font-size: 2rem;
        font-weight: 700;
        padding: 0 1.5rem 0 1rem;
        box-shadow: 0 .3rem .6rem rgba($color-black-1, .16);
        animation: fadeDownUp 2.5s ease-in;

        &__image {
            width: 3rem;
            margin-right: 1rem;
        }
}