.header {
    background-color: $color-primary-blue;
    height: 16rem;
    position: relative;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding: 2rem 1.5rem;
}